<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd ">
    <bean id="propertyConfigure" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>WEB-INF/database.properties</value>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

    <bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>${database.driverClassName}</value>
        </property>
        <property name="url">
            <value>${database.url}</value>
        </property>
        <property name="username">
            <value>${database.username}</value>
        </property>
        <property name="password">
            <value>${database.password}</value>
        </property>
    </bean>

    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/owner**" access="hasRole('ROLE_OWNER')"/>
        <security:intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')"/>
        <!-- 拒绝访问页面 -->
        <security:access-denied-handler error-page="/403"/>
        <security:form-login
                login-page="/login"
                default-target-url="/"
                authentication-failure-url="/login?error"
                username-parameter="user-name"
                password-parameter="pwd"/>
        <security:logout
                logout-success-url="/login?logout"/>
        <!-- XML 配置中默认csrf是关闭的，此处设置为打开
            如果这里打开csrf，则在form表单中需要添加
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        -->
        <security:csrf/>
    </security:http>
    <security:authentication-manager>
        <security:authentication-provider>
            <!--<security:user-service>-->
            <!--<security:user name="hongxf" password="123456" authorities="ROLE_USER" />-->
            <!--</security:user-service>-->
            <security:jdbc-user-service data-source-ref="jdbcDataSource"
                                        users-by-username-query="select id ,password_md5 , enabled from user where id = ?"
                                        authorities-by-username-query="select id, role from user_role where id = ?"/>
            <security:password-encoder hash="md5" base64="false">
                <security:salt-source user-property="username"/>
            </security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>


</beans>